<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="/">{{ global_conf.title }}</a>

		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
			{% for item in nav_items %}
			<span aria-hidden="true"></span>
			{% endfor %}
		</a>
	</div>

	<div id="navbarMenu" class="navbar-menu">
		<div class="navbar-end">

		{% for item in nav_items %}
			{# {% with item=item %} #}
				{% if item.has_children %}
					{% include "components/nav/dropdown.html" %}
				{% else %}
					{% include "components/nav/item.html" %}
				{% endif %}
			{# {% endwith %} #}
		{% endfor %}
		</div>
	</div>
</nav>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/nav.js"></script>

<link rel="stylesheet" href="/static/css/nav.css" />